.navbar-brand{
    width: 100px;
    height: 100%;
     
     

}
.navmain{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    padding-bottom: 10px;
}
.navbar{ background-color: blue;}
.nav-link {
    color: white !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    margin-right: 30px;

    
}
.btnnav{
    border-radius: 30px;
    background-color: white;
    color: black;
    padding: 6px 18px;
    font-weight: 800;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.navbar-toggler-icon{
    background-image: url(./img/625846fc39fbe53385840143_1\ \(3\).svg);
 }
.container-fluidimg{
    background-image: url(./img/644fab4da9dbd93a7dfae97b_e6d57714479874c665b36c7adee76b1d.svg);
    height:100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: blue;
    font-family: Arial, Helvetica, sans-serif;
    
    padding-top: 40px;
     

    
}
.containeradd{
    padding: 0px ;
}
.add{margin-top: -130px;
}
.container h1{
    text-align: center;
    color: white;
    font-size: 56px;
    font-weight: 800;
    padding: 20px;

    
    


}

.container1{
    display: flex;
    justify-content: center;
    
}

.container p{
    font-size: 20px;
     
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 15px;
    padding: 0px 60px;
    margin: 0px 10px;
    z-index: 2;
    width: 73%;
    display: flex;
    justify-content: center;


}
.btnrow{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
   column-gap: 20px;
   padding: 15px;
 
}
  
   
    
    
    
    

     
 

    

.btn1{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 16px 32px;
     
    border-radius: 30px;
    font-weight: 500;
    margin-top: 24px;
    width: fit-content;
    z-index: 2;

    
}



.btn2{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    padding: 16px 32px;
     
    border-radius: 30px;
    font-weight: 500;
    margin-top: 24px;
    width: fit-content;
    z-index: 2;

 }
 .over1{
    display: flex;
    flex-direction: row;
      margin-top:-60px;
     margin-left: -50%;
    
    z-index: 1;
   
    height: 100%;
    width: 100%;
 }
 .over2{
    display: flex;
    flex-direction: row;
    
    float: right;
    
    margin-top:-60px;
    margin-right: -30%;
    
   z-index: 1;
  
    height: 100%;
    width: 100%;
 }
 .container{
    z-index: 2;
 }